@import "tailwindcss";

@layer base {
    :root {
        @theme {
            --color-primary-bg: #0a0a0f;
            --color-secondary-bg: #151520;
            --color-tertiary-bg: #1f1f2e;

            --color-primary-text: #e5e7eb;
            --color-secondary-text: #9ca3af;
            --color-tertiary-text: #6b7280;

            --color-hover-btn: oklch(70.566% 0.01449 285.949 / 0.500);

            --color-accent: #3b82f6;
            --color-accent-hover: #2563eb;
            --color-accent-active: #1d4ed8;
            --color-accent-dim: #1e3a8a;

            --color-highlight: oklch(82.8% 0.189 84.429);
            --color-highlight-hover: oklch(76.9% 0.188 70.08);
            --color-highlight-active: oklch(66.6% 0.179 58.318);
            --color-highlight-dim: #78350f;

            --color-success: #10b981;
            --color-success-hover: #059669;
            --color-success-dim: #064e3b;

            --color-destructive: #ef4444;
            --color-destructive-hover: #dc2626;
            --color-destructive-dim: #7f1d1d;

            --color-primary-border: #374151;
            --color-focus-border: #3b82f6;
            --color-muted-border: #1f2937;
        }
    }
}